.checkout-box {
  width: 100%;
  height: auto;
  background-color: var(--white-color);

  display: flex;
  justify-content: center;
  align-items: flex-start;

  .checkout-go-back-btn {
    width: 5%;
    height: 80vh;

    position: fixed;
    top: 8rem;
    left: 2rem;

    z-index: 99;

    font-size: 2rem;

    border: 3px ridge var(--dblue-color);
    background-color: var(--dark-dblue-color);
    cursor: pointer;
    opacity: 0.05;

    transition: opacity 0.9s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--dark-dblue-color);
    }

    .checkout-go-back-btn-icon {
      color: var(--white-color);
    }
  }
}

@media screen and (max-width: 768px) {
  .checkout-box {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
