.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout {
  width: 100%;
  height: auto;
  background-color: var(--white-color);

  @extend .display-flex;
  flex-direction: column;
  justify-content: start;

  .checkout-box {
    width: 100%;
    height: auto;
    background-color: var(--white-color);

    @extend .display-flex;
    align-items: start;
  }
}

@media screen and (max-width: 1700px) {
}

@media screen and (max-width: 1550px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 550px) {
}

@media screen and (max-width: 425px) {
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 320px) {
}
