.main {
  width: 100%;
  height: auto;
  z-index: 999;

  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  // border: 3px solid red;

  .products-list-load-more-btn {
    background-color: var(--dblue-color);
    border-radius: 4px;
    border: 0;
    box-shadow: rgba(1, 60, 136, 0.5) 0 -1px 3px 0 inset,
      rgba(0, 44, 97, 0.1) 0 3px 6px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inherit;
    font-family: "Space Grotesk", Helvetica;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    min-height: 56px;
    min-width: 120px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    transition: all 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
    margin-bottom: 5rem;

    &:hover {
      background-color: var(--dark-dblue-color);
      transform: translateY(-2px);
    }
  }
}

@media screen and (max-width: 1700px) {
}

@media screen and (max-width: 1550px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 550px) {
}

@media screen and (max-width: 425px) {
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 320px) {
}
