.products-list {
    width: 91.5%;
    height: auto;
    margin-top: 6rem;
    margin-bottom: 4rem;
    padding-bottom: 6rem;
    // border: 1px solid purple;

    h1 {
        margin: 1rem 0 2rem 1rem;
    }

    .products-list-box {
        width: 100%;
        height: auto;
        // border: 3px solid teal;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}