.detailed-view {
  width: 100%;
  height: 150vh;
  background-color: yellow;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .detailed-view-go-back-btn {
    width: 5%;
    height: 80vh;

    position: fixed;
    top: 8rem;
    left: 2rem;

    z-index: 99;

    font-size: 2rem;

    border: 3px ridge var(--dblue-color);
    background-color: var(--dark-dblue-color);
    cursor: pointer;
    opacity: 0.05;

    transition: opacity 0.9s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--dark-dblue-color);
    }

    .detailed-view-go-back-btn-icon {
      color: var(--white-color);
    }
  }

  .detailed-view-left-side {
    width: 50%;
    height: 100vh;
    background-color: teal;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .detailed-view-left-wrap {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      .detailed-view-left-image {
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 20rem;
      }
    }
  }

  .detailed-view-right-side {
    width: 50%;
    height: 150vh;

    position: relative;
    right: -50%;
    top: 0;
  }
}

@media screen and (max-width: 1700px) {
}

@media screen and (max-width: 1550px) {
  .detailed-view {
    .detailed-view-left-side {
      .detailed-view-left-wrap {
        .detailed-view-left-image {
          padding: 10rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1050px) {
  .detailed-view {
    .detailed-view-left-side {
      .detailed-view-left-wrap {
        .detailed-view-left-image {
          padding: 7rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .detailed-view {
    .detailed-view-left-side {
      .detailed-view-left-wrap {
        .detailed-view-left-image {
          padding: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .detailed-view {
    height: auto;
    flex-direction: column;
    justify-content: center;

    .detailed-view-left-side {
      width: 100%;
      height: auto;
      position: static;
    }

    .detailed-view-right-side {
      width: 100%;
      height: auto;
      position: static;
    }
  }
}

@media screen and (max-width: 425px) {
  .detailed-view {
    margin-top: 13rem;
  }
}
