.header {
  width: 100%;
  height: 5rem;

  position: fixed;
  top: 0;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;

  .navbar {
    width: 90%;
    height: 100%;
    color: var(--black-color);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-logo-link {
      width: 15%;
      height: 100%;

      .header-logo {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    .header-nav {
      width: 10%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 3%;
    }
  }
}

.header.down {
  background-color: white;
}

@media screen and (max-width: 1700px) {
  .header {
    .navbar {
      .header-nav {
        margin-right: 5%;
      }
    }
  }
}

@media screen and (max-width: 1550px) {
  .header {
    .navbar {
      .header-nav {
        margin-right: 7%;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .header {
    .navbar {
      .header-logo-link {
        width: 20%;
      }

      .header-nav {
        margin-right: 11%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .navbar {
      .header-logo-link {
        width: 30%;
      }

      .header-nav {
        width: 35%;
        margin-right: 3%;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .header {
    .navbar {
      .header-logo-link {
        width: 35%;
      }

      .header-nav {
        margin-right: 7%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .header {
    height: 10rem;
    background-color: var(--white-color);

    .navbar {
      height: 100%;
      flex-direction: column;

      .header-logo-link {
        height: 50%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;

        .header-logo {
          width: 65%;
        }
      }

      .header-nav {
        width: 100%;
        height: 50%;
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .header {
    .navbar {
      .header-nav {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .header {
    .navbar {
      .header-logo-link {
        .header-logo {
          width: 75%;
        }
      }
    }
  }
}
