@font-face {
  font-family: graphik-regular;
  src: url("../fonts/GraphikRegular.otf");
}

@font-face {
  font-family: graphik-bold;
  src: url("../fonts/GraphikBold.otf");
}

@font-face {
  font-family: graphik-medium;
  src: url("../fonts/GraphikMedium.otf");
}

@font-face {
  font-family: graphik-light;
  src: url("../fonts/GraphikLight.otf");
}

@font-face {
  font-family: roboto-regular;
  src: url("../fonts/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: roboto-bold;
  src: url("../fonts/RobotoMono-Bold.ttf");
}

@font-face {
  font-family: roboto-medium;
  src: url("../fonts/RobotoMono-Medium.ttf");
}

@font-face {
  font-family: roboto-light;
  src: url("../fonts/RobotoMono-Light.ttf");
}

:root {
  --black-color: #000000;
  --blue-color: #4353ff;
  --dblue-color: #33348e;
  --dark-dblue-color: #292a71;
  --white-color: #ffffff;
  --gray-color: #f5f5f5;
  --lightgray-color: lightgray;

  --extra-light-gray-color: #f1f2f2;
  --light-gray-color: #d8d8d8;
  --medium-gray-color: #a6a6a6;
  --dark-gray-color: #737373;
  --extra-dark-gray-color: #4c4c4c;

  --graphik-regular: graphik-regular, sans-serif;
  --graphik-bold: graphik-bold, sans-serif;
  --graphik-medium: graphik-medium, sans-serif;
  --graphik-light: graphik-light, sans-serif;
  --roboto-regular: roboto-regular, sans-serif;
  --roboto-bold: roboto-bold, sans-serif;
  --roboto-medium: roboto-medium, sans-serif;
  --roboto-light: roboto-light, sans-serif;
}

@media screen and (max-width: 1700px) {
}

@media screen and (max-width: 1550px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1050px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 550px) {
}

@media screen and (max-width: 425px) {
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 320px) {
}
