.product-item {
  width: 23%;
  height: 34rem;
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  border: 1px solid var(--lightgray-color);
  background-color: var(--white-color);

  &:hover {
    .product-item-image {
      transform: scale(1.05);
    }

    .product-item-descr {
      .product-item-title {
        color: var(--dblue-color);
      }

      .product-item-price {
        color: var(--dblue-color);
      }
    }
  }

  .product-item-image {
    width: 100%;
    height: 27rem;
    margin-top: 2rem;
    transition: transform 0.3s ease-in-out;
  }

  .product-item-descr {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--black-color);

    .product-item-title {
      font-size: 0.9rem;
      transition: color 0.3s ease-in-out;
    }

    .product-item-price {
      transition: color 0.3s ease-in-out;
    }
  }
}

@media screen and (max-width: 1700px) {
  .product-item {
    width: 30%;
  }
}

@media screen and (max-width: 1050px) {
  .product-item {
    width: 45%;
  }
}

@media screen and (max-width: 768px) {
  .product-item {
    width: 60%;
  }
}

@media screen and (max-width: 550px) {
  .product-item {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .product-item {
    width: 85%;
  }
}

@media screen and (max-width: 375px) {
  .product-item {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .product-item {
    width: 95%;
    margin: 1rem 0;
  }
}
